<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">


        <servlet>
            <servlet-name>LogInTeacherController</servlet-name>
            <servlet-class>controller.teacher.LogInTeacherController</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>SetImageStudentController</servlet-name>
            <servlet-class>controller.student.SetImageStudentController</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>SignUpRedirectStudentController</servlet-name>
            <servlet-class>controller.student.SignUpRedirectStudentController</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>SignUpStudentController</servlet-name>
            <servlet-class>controller.student.SignUpStudentController</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>LogInStudentController</servlet-name>
            <servlet-class>controller.student.LogInStudentController</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>LoginRedirectStudentController</servlet-name>
            <servlet-class>controller.student.LoginRedirectStudentController</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>LoginRedirectTeacherController</servlet-name>
            <servlet-class>controller.teacher.LogInRedirectTeacherController</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>SetMarkController</servlet-name>
            <servlet-class>controller.teacher.SetMarkController</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>SubscribeController</servlet-name>
            <servlet-class>controller.student.SubscribeStudentController</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>SetImageTeacherController</servlet-name>
            <servlet-class>controller.teacher.SetImageTeacherController</servlet-class>
        </servlet>
        <servlet-mapping>
             <servlet-name>SetImageTeacherController</servlet-name>
             <url-pattern>/setImageTeacher</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
             <servlet-name>LoginRedirectStudentController</servlet-name>
             <url-pattern>/loginStudentredirect</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
             <servlet-name>SetImageStudentController</servlet-name>
             <url-pattern>/setImage</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
             <servlet-name>SetMarkController</servlet-name>
             <url-pattern>/setMark</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
             <servlet-name>SubscribeController</servlet-name>
             <url-pattern>/subscribe</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
             <servlet-name>SignUpRedirectStudentController</servlet-name>
             <url-pattern>/signUpRedirectStudent</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
             <servlet-name>SignUpStudentController</servlet-name>
             <url-pattern>/signUpStudent</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
             <servlet-name>LoginRedirectTeacherController</servlet-name>
             <url-pattern>/loginTeacherredirect</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
           <servlet-name>LogInTeacherController</servlet-name>
           <url-pattern>/loginTeacher</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
           <servlet-name>LogInStudentController</servlet-name>
           <url-pattern>/loginStudent</url-pattern>
        </servlet-mapping>
</web-app>